*/*.dep
*/*.o
*/*.so
*/deps
*/lib*.a
*/test_*-main.c
*/*.pyc
blind/*

__pycache__
report.txt
.DS_Store
*.o
*.a
*.so
*.pyc
__pycache__/
demo/*

# static analysis
cscope.out
cscope.in.out
cscope.po.out
tags
callgrind.out.*
cachegrind.out.*
massif.out.*
perf.data
perf.data.old
gdb.txt
gdb.log
*.svg

# Astrobench local configuration
.astrobench.toml
astrobench.local.toml
